<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.engage.cordova-nsurl-cache-clear"
    version="0.0.1-dev">

    <name>CordovaNSURLCacheClear</name>

    <description>Cordova clear NSURL cache plugin</description>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaNSURLCacheClear">
                <param name="ios-package" value="CordovaNSURLCacheClear" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CordovaNSURLCacheClear.h" />
        <source-file src="src/ios/CordovaNSURLCacheClear.m" />
    </platform>
</plugin>
